<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>INDICADORES COMPOSTAMENTAIS</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<body>

	<h5>HABILIDADES PRATICAS- SABER FAZER</h5>
	<form method="post">
		Proatividade: <input type="text" value= "" name="proatividade"/>
	Resiliencia: <input type="text" value= "" name="resiliencia"/>
		Senso de Urgencia e Impostancia: <input type="text" value= "" name="urgencia"/>		
		Resolução de Problemas: <input type="text" value= "" name="problema"/>
		Busca por Resultados: <input type="text" value= "" name="resultados"/>
		Motivação Interna: <input type="text" value= "" name="motivacao"/>
		Frequencia no Trabalho: <input type="text" value= "" name="frequencia"/>
	Trabalho em Equipe: <input type="text" value= "" name="equipe"/>
		Relacionamento Interpessoal: <input type="text" value= "" name="interpessoal"/>		
		Entende a Missao da Empresa: <input type="text" value= "" name="missao"/>
		Agilidade: <input type="text" value= "" name="agilidade"/>
		Criatividade: <input type="text" value= "" name="criatividade"/>
		Inteligencia Emocional: <input type="text" value= "" name="inteligencia"/>
	Liderança: <input type="text" value= "" name="lideranca"/>
		Autoconhecimento: <input type="text" value= "" name="autoconhecimento"/>		
		Autogestão: <input type="text" value= "" name="autogestao"/>
		Empatia: <input type="text" value= "" name="empatia"/>
		Habilidade Social: <input type="text" value= "" name="social"/>
		
		<h3><a href= "/habilidades" class="waves-effect waves-light btn"><i class="material-icons left">backspace</i>Voltar</a></h3>
		<button class="waves-effect waves-light btn" type="submit">Resultado</button>
	
	
	</form>


	<script  type="text/javascript" src="materialize/js/materialize.min.js"></script>
    
</body>

</head>


</html>