<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>INDICADORES COMPOSTAMENTAIS</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<body>

	<h5>HABILIDADES PRATICAS- SABER FAZER</h5>
	<form method="post">
		Atendimento ao Telefone: <input type="text" value= "" name="telefone"/>
	Atendimento ao Whatsapp: <input type="text" value= "" name="whatsapp"/>
		Atendimento ao balcão: <input type="text" value= "" name="balcao"/>		
		Atendimento ao cliente: <input type="text" value= "" name="cliente"/>
		Caixa: <input type="text" value= "" name="caixa"/>
		Fechamento de Venda: <input type="text" value= "" name="fecharVenda"/>
		
		
		<h3><a href= "/conhecimentos" class="waves-effect waves-light btn"><i class="material-icons left">backspace</i>Voltar</a></h3>
		<h3><a href= "/atitude" class="waves-effect waves-light btn"><i class="material-icons left">forward</i>Proximo</a></h3>
	
	
	</form>


	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</head>


</html>